* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    background: #F2F2F2;
}
header{
    display: grid;
    grid-template-columns: 15% auto 15% 15%;
    align-items: center;
    text-align: center;
    background: #69ADFD;
 }

 #logo {
    width: 75px;
    height: 75px;
 }

 .search button {
    position: absolute;
    z-index: 10;
    border: none;
    background: white;
    outline: none;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 0px 14px 14px 0px;
    cursor: pointer;
  }
  
  .search div {
    position: relative;
    width: 200px;
  }
  
  .search input {
    width: 80%;
    border: none;
    height: 21px;
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 14px 0px 0px 14px;
  }

  .search img{
      width: 16px;
  }

  #login {
    border: solid 1px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
  }

  #login:hover, nav li a:hover {
    color: white;
  }

  nav {
    background-color: #DDDCDC;
  }
  
  nav ul, nav a {
    list-style: none;
    text-decoration: none;
  }

  nav li {
    display: inline;
  }

  nav li a {
    display: inline-block;
    padding: 10px;
    color: black;
  }

  main {
    background-color: #69ADFD;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
  }

  .title-m {
    display: grid;
  }

  footer {
    background-color: #DDDCDC;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  